@inject ThemeService ThemeService;
@inject ILoggerService LoggerService;
@inject IAuthService AuthService;
@using EntryIt.Components.Shared;

<div class="nav-scrollable bg-accent" style="height: calc(100% - 20px); padding-top: 20px">
    <nav style="height: 100%; display: flex; flex-direction: column; justify-content:space-between;">
        <div>
            <img class="logo px-3" src="assets/app_logos/logo-white.svg" alt="Logo" />
        
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="text-decoration:none; display:flex; gap:8px; padding-left: 8px;" href="/home" Match="NavLinkMatch.All">
                    <img class="nav-item-img" src="assets/icons/home.svg"/>
                    <span class="nav-item-text">Home</span>
                </NavLink>
            </div>
        
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="text-decoration: none; display: flex; gap: 8px; padding-left: 8px;" href="/journal" Match="NavLinkMatch.All">
                    <img class="nav-item-img" src="assets/icons/notebook.svg"/>
                    <span class="nav-item-text">Journals</span>
                </NavLink>
            </div>
        
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="text-decoration: none; display: flex; gap: 8px; padding-left: 8px;" href="/analytics" Match="NavLinkMatch.All">
                    <img class="nav-item-img" src="assets/icons/analytics.svg"/>
                    <span class="nav-item-text">Analytics</span>
                </NavLink>
            </div>
        
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="text-decoration: none; display: flex; gap: 8px; padding-left: 8px;" href="/tags" Match="NavLinkMatch.All">
                    <img class="nav-item-img" src="assets/icons/tag.svg"/>
                    <span class="nav-item-text">Custom Tags</span>
                </NavLink>
            </div>
        </div>

        <div class="user-profile px-3">
            <div class="user-avatar">@CommonUtils.GetInitials(CurrentUser?.FullName ?? "")</div>
            <span class="user-name">@(CurrentUser?.FullName ?? "")</span>
            <button class="theme-toggle" @onclick="ToggleThemeSelector" aria-label="Toggle theme">
                <img 
                    class="theme-icon"
                    src="@($"assets/icons/{(ThemeService.GetCurrentTheme() == "light" ? "sun.svg" : "moon.svg")}")" 
                />
            </button>
    
            @if (showThemeSelector)
            {
                <div class="overlay" @onclick="CloseThemeSelector">
                </div>

                <div class="theme-selector-popup" @onclick:stopPropagation>
                    <ThemeSelector />
                </div>
            }
        </div>
    </nav>
</div>

@code {
    string ActiveTab { get; set; } = "home";
    UserViewModel? CurrentUser { get; set; } = null;

    private bool showThemeSelector = false;

    protected override void OnInitialized()
    {
        CurrentUser = AuthService.GetCurrentUser();
    }

    private void ToggleThemeSelector()
    {
        showThemeSelector = !showThemeSelector;
    }

    private void CloseThemeSelector()
    {
        showThemeSelector = false;
    }
}
