@page "/home"
@inject ThemeService ThemeService
@inject ILoggerService LoggerService
@inject IAuthService AuthService
@inject IJournalService JournalService
@inject IMoodService MoodService
@inject ITagService TagService
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject ToastService Toast

<div class="home-container">
    @if (IsSaveModalOpen)
    {
        <SaveJournalModal IsOpen="IsSaveModalOpen"
                          IsOpenChanged="SetIsSaveModelOpen"
                          OnSave="SubmitJournal"
                          Moods="Moods"
                          Tags="Tags" />
    }
    <div class="home-header">
        <h1 class="page-title">Home</h1>
        <div class="header-actions">
            <div class="streak-counter">
                <img src="assets/icons/fire.svg" alt="Streak" class="fire-icon" />
                <span class="streak-number">@currentUser?.CurrentStreak</span>
            </div>
            <div class="user-avatar">@CommonUtils.GetInitials(currentUser?.FullName ?? "")</div>
        </div>
    </div>

    <div class="home-content">
        <div class="journal-section">
            <div class="app-branding">
                <img src=@($"assets/app_logos/logo-{currentAccent}.svg") alt="Entry IT" class="app-logo" />
                <h2 class="app-name">Entry IT</h2>
            </div>

            <div class="journal-entry">
                <h3 class="journal-title">Today's Journal</h3>
                <div class="journal-input-wrapper">
                    <div id="editor"
                         style="height:200px;">
                    </div>
                    <button class="submit-btn" @onclick="() => SetIsSaveModelOpen(!IsSaveModalOpen)" disabled="@IsSaveDisabled()" title="Submit">
                        <img src="assets/icons/upload.svg" alt="Submit" class="submit-icon" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

@code {
    private string currentAccent = string.Empty;
    private string HtmlContent = "";
    private string TextContent = "";
    private int WordCount = 0;
    private bool IsSaveModalOpen = false;
    public List<Mood> Moods = [];
    public List<Tag> Tags = [];
    private UserViewModel? currentUser = null;
    private DotNetObjectReference<Home>? _objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initQuill", "editor");
            await JS.InvokeVoidAsync("quillInterop.registerOnChange", _objRef);
            var uri = new Uri(Nav.Uri);
            var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
            if (queryParams["from_login"] == "true")
            {
                Toast.Success("Login successful!");
            }
        }
    }

    [JSInvokable]
    public async Task OnEditorChanged()
    {
        try
        {
            HtmlContent = await JS.InvokeAsync<string>("getQuillHtml");
            TextContent = (await JS.InvokeAsync<string>("getQuillText")).Trim();
            StateHasChanged();
        }
        catch (JSException ex)
        {
            LoggerService.LogError($"Quill JS error: {ex.Message}");
        }
    }

    public bool IsSaveDisabled()
    {
        return string.IsNullOrWhiteSpace(TextContent);
    }

    public void SetIsSaveModelOpen(bool value)
    {
        IsSaveModalOpen = value;
        LoggerService.LogInfo($"Save model state: {IsSaveModalOpen}");
    }

    private async Task SubmitJournal(JournalDataFromModal journalData)
    {
        Toast.Info("Saving Journal...");

        WordCount = CommonUtils.GetWordCount(TextContent);
        List<Tag> tags = journalData.Tags;
        List<Guid> tagIDs = tags.Select(t => t.Id).ToList();
        var secondary1 = journalData.SecondaryMoods.ElementAtOrDefault(0)?.Id ?? Guid.Empty;
        var secondary2 = journalData.SecondaryMoods.ElementAtOrDefault(1)?.Id ?? Guid.Empty;


        ServiceResult<SaveResponse> saveResponse = await JournalService.SaveJournal(
            journalData.Title,
            HtmlContent,
            WordCount,
            journalData.PrimaryMood?.Id ?? Guid.Empty,
            secondary1,
            secondary2,
            journalData.IsLocked,
            journalData.UseSamePassword,
            journalData.Password ?? "",
            tagIDs
        );

        if (saveResponse.Success)
        {
            Toast.Success("Successfully saved journal");
            await AuthService.RefreshUser();
        }
        else
        {
            Toast.Error(saveResponse.ErrorMessage ?? "Failed to save journal");
        }
    }

    protected async override Task OnInitializedAsync()
    {
        currentUser = AuthService.GetCurrentUser();

        var moodResult = await MoodService.GetMoods();
        if (moodResult.Success)
        {
            Moods = moodResult.Data ?? [];
        }

        var tagsResult = await TagService.GetTags();
        if (tagsResult.Success)
        {
            Tags = tagsResult.Data ?? [];
        }

        currentAccent = ThemeService.GetCurrentAccent();
        ThemeService.OnChange += HandleThemeChanged;
        AuthService.OnChange += HandleAuthServiceChanged;
    }

    private void HandleThemeChanged()
    {
        currentAccent = ThemeService.GetCurrentAccent();
        StateHasChanged();
    }

    private void HandleAuthServiceChanged()
    {
        LoggerService.LogInfo("Auth service updated. Setting new user");
        currentUser = AuthService.GetCurrentUser();
        StateHasChanged();
    }

    public void Dispose()
    {
        _objRef?.Dispose();
        ThemeService.OnChange -= HandleThemeChanged;
        AuthService.OnChange -= HandleAuthServiceChanged;
    }
}
