@page "/login"

@inject ThemeService ThemeService
@inject ILoggerService LoggerService
@inject IAuthService AuthService
@inject ToastService Toast
@inject NavigationManager Nav

@layout Layout.AuthLayout

<div class="login-page bg-accent-radial">
    <button class="theme-toggle-fixed" @onclick="ToggleThemeSelector" aria-label="Toggle theme">
        <img 
            class="theme-icon"
            src="@($"assets/icons/{(ThemeService.GetCurrentTheme() == "light" ? "sun.svg" : "moon.svg")}")" 
            alt="Theme toggle"
        />
    </button>

    @if (showThemeSelector)
    {
        <div class="overlay" @onclick="CloseThemeSelector"></div>
        <div class="theme-selector-popup-fixed" @onclick:stopPropagation>
            <ThemeSelector />
        </div>
    }

    <div class="login-container">
        <div class="app-branding">
            <img src="assets/app_logos/logo-white.svg" alt="Entry IT" class="app-logo" />
            <h2 class="app-name">Entry IT</h2>
        </div>

        <div class="login-form-container">
            <h2 class="form-header">Login</h2>
            <form @onsubmit="LoginUser" class="login-form">
                <div class="form-field">
                    <label for="email">Email / Username</label>
                    <input type="text" name="email" id="email" @bind="email" />
                </div>

                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" @bind="password" />
                </div>

                <button type="submit" class="bg-accent login-btn">Login</button>
            </form>

            <NavLink class="signup-link" href="/signup" Match="NavLinkMatch.All">
                <span class="signup-link-text">Sign Up</span>
            </NavLink>
        </div>
    </div>
</div>

@code {
    private string email = string.Empty;
    private string password = string.Empty;
    private bool showThemeSelector = false;
    private bool devMode = false;

    private string CurrentAccent => ThemeService.GetCurrentAccent();

    private async Task LoginUser()
    {
        if(devMode)
        {
            email = "karkiaayush01";
            password = "test@123";
        }

        if(ValidationUtils.IsBlank([email, password]))
        {
            Toast.Error("Please fill all the fields");
            return;
        }

        Toast.Info("Logging in...");
        var loginResult = await AuthService.Login(email, password);

        if(loginResult.Success)
        {
            Toast.Success("Login successful!");
            await Task.Delay(500);
            Nav.NavigateTo("/home", replace: true);
        }
        else
        {
            Toast.Error($"{loginResult.ErrorMessage ?? "Failed to Log in"}");
        }
    }

    private void ToggleThemeSelector()
    {
        showThemeSelector = !showThemeSelector;
    }

    private void CloseThemeSelector()
    {
        showThemeSelector = false;
    }
}